<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="com.outsystems.plugins.healthfitness" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>HealthFitness</name>
  <description>Health &amp; Fitness cordova plugin for OutSystems applications.</description>
  <author>OutSystems Inc</author>
  <js-module name="OSHealthFitness" src="www/OSHealthFitness.js">
    <clobbers target="cordova.plugins.OSHealthFitness"/>
  </js-module>
  <platform name="android">

    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="OSHealthFitness">
        <param name="android-package" value="com.outsystems.plugins.healthfitness.OSHealthFitness"/>
      </feature>

      <preference name="GradlePluginKotlinEnabled" value="true" />
      <preference name="GradlePluginKotlinCodeStyle" value="official" />
      <preference name="GradlePluginKotlinVersion" value="1.3.50" />
      <preference name="AndroidXEnabled" value="true"/>

      <service android:name="com.outsystems.plugins.healthfitness.MyDataUpdateService"
               android:exported="true"/>

    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml">
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
      <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
      <uses-permission android:name="android.permission.BODY_SENSORS" />
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
        
      <receiver android:name="com.outsystems.plugins.healthfitnesslib.background.VariableUpdateService"
            android:exported="false">
      </receiver>

      <activity
            android:exported="false"
            android:launchMode="singleTask"
            android:name="com.outsystems.plugins.healthfitnesslib.background.ClickActivity"
            android:theme="@android:style/Theme.NoDisplay" />
        
    </config-file>

    <!-- HealthFitness Plugin -->
    <source-file src="src/android/com/outsystems/plugins/healthfitness/OSHealthFitness.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/healthfitness"/>
    <source-file src="src/android/com/outsystems/plugins/healthfitness/AndroidPlatformInterface.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/healthfitness"/>
    
    <source-file src="src/android/com/outsystems/plugins/healthfitness/oshealthfitnesslibrary/HealthFitnessError.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/healthfitness"/>

    <source-file src="src/android/com/outsystems/plugins/healthfitness/oshealthfitnesslibrary/store/HealthStore.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/healthfitness/store"/>
    <source-file src="src/android/com/outsystems/plugins/healthfitness/oshealthfitnesslibrary/store/GoogleFitPermission.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/healthfitness/store"/>
    <source-file src="src/android/com/outsystems/plugins/healthfitness/oshealthfitnesslibrary/store/GoogleFitVariable.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/healthfitness/store"/>
    <source-file src="src/android/com/outsystems/plugins/healthfitness/oshealthfitnesslibrary/store/GoogleFitGroupPermission.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/healthfitness/store"/>
    <source-file src="src/android/com/outsystems/plugins/healthfitness/oshealthfitnesslibrary/store/AdvancedQueryParameters.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/healthfitness/store"/>
    <source-file src="src/android/com/outsystems/plugins/healthfitness/oshealthfitnesslibrary/store/AdvancedQueryResponse.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/healthfitness/store"/>
    <source-file src="src/android/com/outsystems/plugins/healthfitness/oshealthfitnesslibrary/store/AdvancedQueryResponseBlock.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/healthfitness/store"/>
    <source-file src="src/android/com/outsystems/plugins/healthfitness/oshealthfitnesslibrary/store/AdvancedQuery.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/healthfitness/store"/>
    <source-file src="src/android/com/outsystems/plugins/healthfitness/oshealthfitnesslibrary/store/AdvancedQueryBucketProcessor.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/healthfitness/store"/>
    <source-file src="src/android/com/outsystems/plugins/healthfitness/oshealthfitnesslibrary/store/HealthFitnessManager.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/healthfitness/store"/>
    <source-file src="src/android/com/outsystems/plugins/healthfitness/oshealthfitnesslibrary/store/HealthFitnessManagerInterface.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/healthfitness/store"/>
    <source-file src="src/android/com/outsystems/plugins/healthfitness/oshealthfitnesslibrary/store/HealthStoreException.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/healthfitness/store"/>

    <source-file src="src/android/com/outsystems/plugins/healthfitness/oshealthfitnesslibrary/background/BackgroundJobParameters.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/healthfitness/background"/>
    <source-file src="src/android/com/outsystems/plugins/healthfitness/oshealthfitnesslibrary/background/ClickActivity.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/healthfitness/background"/>
    <source-file src="src/android/com/outsystems/plugins/healthfitness/oshealthfitnesslibrary/background/VariableUpdateService.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/healthfitness/background"/>

    <source-file src="src/android/com/outsystems/plugins/healthfitness/oshealthfitnesslibrary/background/database/AppDatabase.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/healthfitness/background/database"/>
    <source-file src="src/android/com/outsystems/plugins/healthfitness/oshealthfitnesslibrary/background/database/BackgroundJob.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/healthfitness/background/database"/>
    <source-file src="src/android/com/outsystems/plugins/healthfitness/oshealthfitnesslibrary/background/database/BackgroundJobDao.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/healthfitness/background/database"/>
    <source-file src="src/android/com/outsystems/plugins/healthfitness/oshealthfitnesslibrary/background/database/DatabaseManager.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/healthfitness/background/database"/>
    <source-file src="src/android/com/outsystems/plugins/healthfitness/oshealthfitnesslibrary/background/database/DatabaseManagerInterface.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/healthfitness/background/database"/>
    <source-file src="src/android/com/outsystems/plugins/healthfitness/oshealthfitnesslibrary/background/database/Notification.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/healthfitness/background/database"/>
    <source-file src="src/android/com/outsystems/plugins/healthfitness/oshealthfitnesslibrary/background/database/NotificationDao.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/healthfitness/background/database"/>

    <!-- OS Cordova Library -->
    <source-file src="src/android/OSCordova/src/main/java/com/outsystems/plugins/oscordova/CordovaImplementation.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/healthfitness"/>

    <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    <framework src="org.jetbrains.kotlinx:kotlinx-coroutines-core-jvm:1.4.3" />
    <framework src="org.jetbrains.kotlinx:kotlinx-coroutines-android:1.4.3" />
    <framework src="com.google.code.gson:gson:2.8.8" />

  </platform>

  <platform name="ios">
    <config-file parent="/*" target="config.xml">
			<feature name="OSHealthFitness">
				<param name="ios-package" value="OSHealthFitness" />
			</feature>
			<preference name="deployment-target" value="12" />
      <preference name="UseSwiftLanguageVersion" value="5" />
		</config-file>

		<!-- Hooks -->
    <hook type="before_plugin_install" src="hooks/add_cordova_implementation_ios.js"/>
		<hook type="before_plugin_install" src="hooks/install_prerequisites.js"/>
    <hook type="after_plugin_add" src="hooks/add_swift_support.js" />

    <!-- iOS Permissions -->
    <preference name="HEALTH_SHARE_DESCRIPTION" default="App needs to shared health data" />
    <config-file target="*-Info.plist" parent="NSHealthShareUsageDescription">
        <string>$HEALTH_SHARE_DESCRIPTION</string>
    </config-file>

    <preference name="HEALTH_UPDATE_DESCRIPTION" default="App needs to use health data" />
    <config-file target="*-Info.plist" parent="NSHealthUpdateUsageDescription">
        <string>$HEALTH_UPDATE_DESCRIPTION</string>
    </config-file>

    <config-file target="*-Info.plist" parent="UIBackgroundModes">
      <array>
        <string>fetch</string>
        <string>processing</string>
      </array>
    </config-file>

    <!-- Entitlements -->
    <config-file target="*/Entitlements-Debug.plist" parent="com.apple.developer.healthkit">
      <true/>
    </config-file>

    <config-file target="*/Entitlements-Release.plist" parent="com.apple.developer.healthkit">
      <true/>
    </config-file>

    <config-file target="*/Entitlements-Debug.plist" parent="com.apple.developer.healthkit.access">
      <array>
      </array>
    </config-file>

    <config-file target="*/Entitlements-Release.plist" parent="com.apple.developer.healthkit.access">
      <array>
      </array>
    </config-file>

    <config-file target="*/Entitlements-Debug.plist" parent="com.apple.developer.healthkit.background-delivery">
      <true/>
    </config-file>

    <config-file target="*/Entitlements-Release.plist" parent="com.apple.developer.healthkit.background-delivery">
      <true/>
    </config-file>

    <config-file target="*/Entitlements-Debug.plist" parent="com.apple.developer.healthkit.recalibrate-estimates">
      <true/>
    </config-file>

    <config-file target="*/Entitlements-Release.plist" parent="com.apple.developer.healthkit.recalibrate-estimates">
      <true/>
    </config-file>


		<!-- iOS Source Files -->
		<source-file src="src/ios/OSHealthFitness.swift" />
    <source-file src="src/ios/CordovaImplementation.swift" />
    <framework src="src/ios/frameworks/OSHealthFitnessLib.xcframework" embed="true" custom="true" />
    <framework src="src/ios/frameworks/OSCore.xcframework" embed="true" custom="true" />
    
  </platform>

</plugin>