<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="com.outsystems.plugins.healthfitness" version="2.4.4" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>HealthFitness</name>
  <description>Health &amp; Fitness cordova plugin for OutSystems applications.</description>
  <author>OutSystems Inc</author>
  <js-module name="OSHealthFitness" src="www/OSHealthFitness.js">
    <clobbers target="cordova.plugins.OSHealthFitness"/>
  </js-module>
  <platform name="android">

    <hook type="after_prepare" src="hooks/androidCopyPreferencesPermissions.js" />
    <hook type="after_prepare" src="hooks/androidCopyPrivacyUrlEnv.js"/>

    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="OSHealthFitness">
        <param name="android-package" value="com.outsystems.plugins.healthfitness.OSHealthFitness"/>
      </feature>

      <preference name="GradlePluginKotlinEnabled" value="true" />
      <preference name="GradlePluginKotlinCodeStyle" value="official" />
      <preference name="AndroidXEnabled" value="true"/>
    </config-file>

    <!-- HealthFitness Plugin -->
    <source-file src="src/android/com/outsystems/plugins/healthfitness/OSHealthFitness.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/healthfitness"/>
    <source-file src="src/android/com/outsystems/plugins/healthfitness/OSHealthFitnessWarning.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/healthfitness"/>
    <source-file src="src/android/com/outsystems/plugins/healthfitness/TimeUnitSerializer.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/healthfitness"/>

    <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
    <framework src="org.jetbrains.kotlinx:kotlinx-coroutines-core-jvm:1.4.3" />
    <framework src="org.jetbrains.kotlinx:kotlinx-coroutines-android:1.4.3" />
    <framework src="com.google.code.gson:gson:2.8.8" />
  </platform>

  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="OSHealthFitness">
        <param name="ios-package" value="OSHealthFitness" />
      </feature>
      <preference name="SwiftVersion" value="5" />
    </config-file>

    <!-- iOS Permissions -->
    <preference name="HEALTH_SHARE_DESCRIPTION" default="App needs to share health data" />
    <config-file target="*-Info.plist" parent="NSHealthShareUsageDescription">
        <string>$HEALTH_SHARE_DESCRIPTION</string>
    </config-file>

    <preference name="HEALTH_UPDATE_DESCRIPTION" default="App needs to use health data" />
    <config-file target="*-Info.plist" parent="NSHealthUpdateUsageDescription">
        <string>$HEALTH_UPDATE_DESCRIPTION</string>
    </config-file>

    <config-file target="*-Info.plist" parent="UIBackgroundModes">
      <array>
        <string>fetch</string>
        <string>processing</string>
      </array>
    </config-file>

    <config-file target="*-Info.plist" parent="BGTaskSchedulerPermittedIdentifiers">
      <array>
        <string>com.outsystems.health.default</string>
      </array>
    </config-file>

    <!-- Entitlements -->
    <config-file target="*/Entitlements-Debug.plist" parent="com.apple.developer.healthkit">
      <true/>
    </config-file>

    <config-file target="*/Entitlements-Release.plist" parent="com.apple.developer.healthkit">
      <true/>
    </config-file>

    <config-file target="*/Entitlements-Debug.plist" parent="com.apple.developer.healthkit.access">
      <array>
      </array>
    </config-file>

    <config-file target="*/Entitlements-Release.plist" parent="com.apple.developer.healthkit.access">
      <array>
      </array>
    </config-file>

    <config-file target="*/Entitlements-Debug.plist" parent="com.apple.developer.healthkit.background-delivery">
      <true/>
    </config-file>

    <config-file target="*/Entitlements-Release.plist" parent="com.apple.developer.healthkit.background-delivery">
      <true/>
    </config-file>

    <config-file target="*/Entitlements-Debug.plist" parent="com.apple.developer.healthkit.recalibrate-estimates">
      <true/>
    </config-file>

    <config-file target="*/Entitlements-Release.plist" parent="com.apple.developer.healthkit.recalibrate-estimates">
      <true/>
    </config-file>

    <!-- iOS Source Files -->
    <source-file src="src/ios/OSHealthFitness.swift" />
    <framework src="src/ios/frameworks/OSHealthFitnessLib.xcframework" embed="true" custom="true" />

    <podspec>
        <config>
            <source url="https://cdn.cocoapods.org/"/>
        </config>
        <pods use-frameworks="true">
            <pod name="OSCommonPluginLib" spec="1.0.0" />
        </pods>
    </podspec>
  </platform>

</plugin>
