<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-outsystems-health-fitness" version="0.0.1"
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>cordova-outsystems-health-fitness</name>
	<js-module name="cordova-outsystems-health-fitness" src="www/OSHealthFitness.js">
		<clobbers target="OSHealthFitness" />
	</js-module>

	<!-- iOS -->
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="HealthAndFitness">
				<param name="ios-package" value="HealthAndFitness" />
			</feature>
			<preference name="deployment-target" value="10" />
            <preference name="UseSwiftLanguageVersion" value="5" />
		</config-file>

		<!-- Hooks -->
		<hook type="before_plugin_install" src="hooks/install_prerequisites.js"/>
        <hook type="after_plugin_add" src="hooks/add_swift_support.js" /> 

		<!-- iOS Source Files -->
		<source-file src="src/ios/HealthAndFitness.swift" />
		<source-file src="src/ios/HealthKitSetup.swift" />
		<source-file src="src/ios/ProfileDataStore.swift" />
		<source-file src="src/ios/UserHealthProfile.swift" />

		<!-- iOS Permissions -->
		<preference name="HEALTH_SHARE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSHealthShareUsageDescription">
            <string>$HEALTH_SHARE_DESCRIPTION</string>
        </config-file>

        <preference name="HEALTH_UPDATE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSHealthUpdateUsageDescription">
            <string>$HEALTH_UPDATE_DESCRIPTION</string>
        </config-file>

	</platform>
</plugin>